<style type="text/css">
  #plan_list table thead tr th { padding:4px 0px; }
  #plan_list table tbody tr td { padding-right: 0px; }
  #plan_list table tfoot tr { border-bottom:1px solid #dfdfdf; }
  #plan_list table tfoot tr td { text-align:left; }
</style>
<h2>未来一个月人员计划安排表</h2>
<% c_arr = color_arr(@projects) %>
<% total_month_hash = ((Date.today - 7)..Date.today.months_since(1)).inject({}){|hh, item| hh[item.month]||=[]; hh[item.month]+=[item.to_s]; hh} %>
<% since_month_hash = (Date.today..Date.today.months_since(1)).inject({}){|hh, item| hh[item.month]||=[]; hh[item.month]+=[item.to_s]; hh} %>
<div style='width:100%;overflow:scroll;' id='plan_list'>
  <%= render partial: 'form_plan' %>
  <table class="list issues">
    <thead>
      <tr>
        <th colspan='3'></th>
        <% since_month_hash.keys.each do |k| %>
          <th colspan='<%= since_month_hash[k].length %>'><%= k %>月</th>
        <% end %>
      </tr>
      <tr>
        <th width='50' rowspan='2'>名称</th>
        <th width='115' rowspan='2'>部门</th>
        <%#<th width='80' style='min-width:102px;' rowspan='2'>角色</th>%>
        <th width='50' rowspan='2'>级别</th>
        <% (day_arr = since_month_hash.values.flatten).each do |day| %>
          <th><%= day.to_date.day %></th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
        <% p_d_arr = @user_hash[user.id] %>
        <tr>
          <td><%= user.name %></td>
          <!--<td><%#= raw user.roles.map(&:name).join('<br>') %></td>-->
          <td><p><%= raw @group.try(:name) || user.groups.map(&:name).join('</p><p>') %></p></td>
          <td><%= user.custom_field_values.last.value %><%#= user.custom_values.where("`custom_values`.`value` like '%级%'").first.value %></td>
          <% day_arr.each do |day| %>
            <% if p_d_arr.blank? %>
              <td></td>
            <% else %>
              <td>
                <% p_d_arr.each do |pid, date_arr| %>
                  <% s_date, d_date = date_arr %>
                  <% color, name = c_arr[pid] %>
                  <% if (day == s_date || day == d_date) || (day > s_date && (day < d_date || d_date.blank?)) %>
                    <div class="tooltip" style='display:inline-block;margin-left:-2px;'>
                      <span style="display:inline-block;color:#fff;min-width:16px;background-color:<%= color %>"><%= pid %></span>
                      <span class="tip">
                        <strong><%= name %></strong>
                      </span>
                    </div>
                  <% end %>
                <% end %>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
    <tfoot>
      <% total = (c_arr.length + 2) %>
      <% c_arr.to_a.in_groups_of(3).each do |_arr| %>
        <tr>
          <td></td>
          <% _arr.each do |pid, arr| %>
            <td colspan='<%= cycle(9, 9, total - 18) -%>'>
              <%#<span style='display:inline-block;min-width:20px;text-align:right;'>[>= pid <]</span>%>
              <% if arr.present? %>
                <span style="text-align:center;color:#fff;display:inline-block;width:40px;background-color:<%= arr[0] %>"><%= pid %></span> <%= arr[1] %>
              <% end %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tfoot>
  </table>
</div>
<br />

<% content_for(:header_tags) do %>
  <%= stylesheet_link_tag 'timesheet.css', :plugin => 'redmine_timesheet_plugin', :media => 'all' %>
  <%= stylesheet_link_tag 'timesheet-print.css', :plugin => 'redmine_timesheet_plugin', :media => 'print' %>
  <%= javascript_include_tag 'timesheet.js', :plugin => 'redmine_timesheet_plugin' %>
<% end %>
